<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 roomList">
			<h2>Rooms</h2>

			<div ng-controller="ModalCtrl">
				<script type="text/ng-template" id="myModalContent.html">
					<div class="modal-header">
						<h3 class="modal-title">Create new room</h3>
					</div>
					<div class="modal-body">
						<h4 class="modal-subtitle">Enter a room name</h4>
						<input type="text" ng-model="roomName">
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
						<button class="btn btn-primary" type="button" ng-click="createRoom()">Create room</button>
					</div>
				</script>
				<button type="button" class="btn btn-default" ng-click="open()">New Room</button>
			</div>

			<!-- Display rooms -->
			<ul>
				<div id="rooms" ng-repeat="room in roomList">
					<li class="rooms" ng-click="select(room.$id)">{{ room.name }}</li>
				</div>
			</ul>
		</div>

		<div class="col-md-9 chatRoom">
			<h2>{{ activeRoom.name }}</h2>
			<div class="row">
				<table class="table table-striped">
					<tr ng-repeat="message in messages">
						<td>
							<table>
								<tr>
									<td>{{ message.username }}</td>
								</tr>
								<tr>
									<td class="row col-md-9">{{ message.content }}</td>
									<td class="col-md-3">{{ message.sentAt }}</td>
								<tr>
							</table>
						</td>
					</tr> 
				</table>
			</div>
			<div class="row">
				<input type="text" ng-model="messageContent">
				<button type="button" class="btn btn-primary pull-right" ng-click="send()">Send</button>
			</div>
		</div>
	</div>
</div>
